In [1]:
import pandas as pd
import numpy as np
pd.__version__

'1.0.5'

In [2]:
pd.options.display.float_format='{:,.3f}'.format

In [3]:
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [4]:
df = sns.load_dataset('tips')
df

     total_bill   tip     sex smoker   day    time  size
0        16.990 1.010  Female     No   Sun  Dinner     2
1        10.340 1.660    Male     No   Sun  Dinner     3
2        21.010 3.500    Male     No   Sun  Dinner     3
3        23.680 3.310    Male     No   Sun  Dinner     2
4        24.590 3.610  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239      29.030 5.920    Male     No   Sat  Dinner     3
240      27.180 2.000  Female    Yes   Sat  Dinner     2
241      22.670 2.000    Male    Yes   Sat  Dinner     2
242      17.820 1.750    Male     No   Sat  Dinner     2
243      18.780 3.000  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [5]:
df.describe(include='all')

        total_bill     tip   sex smoker  day    time    size
count      244.000 244.000   244    244  244     244 244.000
unique         nan     nan     2      2    4       2     nan
top            nan     nan  Male     No  Sat  Dinner     nan
freq           nan     nan   157    151   87     176     nan
mean        19.786   2.998   NaN    NaN  NaN     NaN   2.570
std          8.902   1.384   NaN    NaN  NaN     NaN   0.951
min          3.070   1.000   NaN    NaN  NaN     NaN   1.000
25%         13.348   2.000   NaN    NaN  NaN     NaN   2.000
50%         17.795   2.900   NaN    NaN  NaN     NaN   2.000
75%         24.127   3.562   NaN    NaN  NaN     NaN   3.000
max         50.810  10.000   NaN    NaN  NaN     NaN   6.000

In [6]:
# ver tipos de variables
df.dtypes

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
dtype: object

In [7]:
# Obteniendo promedio exploratorio
df['day'].value_counts() / df['day'].value_counts().sum() * 100

Sat    35.656
Sun    31.148
Thur   25.410
Fri     7.787
Name: day, dtype: float64

In [8]:
# Agrupando por sexo
df.groupby('sex').mean()

        total_bill   tip  size
sex
Male        20.744 3.090 2.631
Female      18.057 2.833 2.460

In [9]:
# Porcenaje de propina
df['percent_tip'] = df['tip']/df['total_bill']
df

     total_bill   tip     sex smoker   day    time  size  percent_tip
0        16.990 1.010  Female     No   Sun  Dinner     2        0.059
1        10.340 1.660    Male     No   Sun  Dinner     3        0.161
2        21.010 3.500    Male     No   Sun  Dinner     3        0.167
3        23.680 3.310    Male     No   Sun  Dinner     2        0.140
4        24.590 3.610  Female     No   Sun  Dinner     4        0.147
..          ...   ...     ...    ...   ...     ...   ...          ...
239      29.030 5.920    Male     No   Sat  Dinner     3        0.204
240      27.180 2.000  Female    Yes   Sat  Dinner     2        0.074
241      22.670 2.000    Male    Yes   Sat  Dinner     2        0.088
242      17.820 1.750    Male     No   Sat  Dinner     2        0.098
243      18.780 3.000  Female     No  Thur  Dinner     2        0.160

[244 rows x 8 columns]

In [10]:
df.groupby('sex').mean()

        total_bill   tip  size  percent_tip
sex
Male        20.744 3.090 2.631        0.158
Female      18.057 2.833 2.460        0.166

In [11]:
# Usar promedios no siempre es bueno por los outliers de la misma distribucion, usa la mediana mejor
df.groupby('sex').median()

        total_bill   tip  size  percent_tip
sex
Male        18.350 3.000     2        0.153
Female      16.400 2.750     2        0.156

In [12]:
df.groupby('sex')[['total_bill','percent_tip']].describe()

       total_bill                            ... percent_tip
            count   mean   std   min    25%  ...         min   25%   50%   75%   max
sex                                          ...
Male      157.000 20.744 9.246 7.250 14.000  ...       0.036 0.121 0.153 0.186 0.710
Female     87.000 18.057 8.009 3.070 12.750  ...       0.056 0.140 0.156 0.194 0.417

[2 rows x 16 columns]

In [13]:
def mean_eur2usd(x):
  return np.mean(x) *1.12

In [14]:
 df.groupby(['sex', 'time'])[['total_bill','percent_tip']].apply(mean_eur2usd)

               total_bill  percent_tip
sex    time
Male   Lunch       20.214        0.186
       Dinner      24.037        0.174
Female Lunch       18.300        0.182
       Dinner      21.519        0.190

In [15]:
 df.groupby(['sex', 'time'])[['total_bill','percent_tip']].apply(np.std)

               total_bill  percent_tip
sex    time
Male   Lunch        7.832        0.045
       Dinner       9.423        0.069
Female Lunch        7.393        0.034
       Dinner       8.123        0.063

In [16]:
# Podemos tomar las funciones predefinidas o utilizar lambdas
df.groupby(['sex', 'time'])[['total_bill','percent_tip']].apply(lambda x: np.mean(x) *1.12)

               total_bill  percent_tip
sex    time
Male   Lunch       20.214        0.186
       Dinner      24.037        0.174
Female Lunch       18.300        0.182
       Dinner      21.519        0.190

In [17]:
# Si necesitas aplicar mas de una funcion, utiliza aggregate, ya sea con una lista o con un diccionario
df.groupby(['sex', 'time'])[['total_bill','percent_tip']].aggregate([np.min, np.mean, np.max])

              total_bill               percent_tip
                    amin   mean   amax        amin  mean  amax
sex    time
Male   Lunch       7.510 18.048 41.190       0.079 0.166 0.266
       Dinner      7.250 21.461 50.810       0.036 0.155 0.710
Female Lunch       8.350 16.339 43.110       0.073 0.162 0.259
       Dinner      3.070 19.213 44.300       0.056 0.169 0.417

In [18]:
# tenemos el shortcut agg
df.groupby(['sex', 'time'])[['total_bill','percent_tip']].agg([np.min, np.mean, np.max])

              total_bill               percent_tip
                    amin   mean   amax        amin  mean  amax
sex    time
Male   Lunch       7.510 18.048 41.190       0.079 0.166 0.266
       Dinner      7.250 21.461 50.810       0.036 0.155 0.710
Female Lunch       8.350 16.339 43.110       0.073 0.162 0.259
       Dinner      3.070 19.213 44.300       0.056 0.169 0.417

In [19]:
# Usando diccionarios
dict_agg = {'tip': [min, max], 'total_bill':[np.mean, mean_eur2usd]}

In [20]:
df.groupby(['sex','time'])[['total_bill', 'tip']].agg(dict_agg)

                tip        total_bill
                min    max       mean mean_eur2usd
sex    time
Male   Lunch  1.440  6.700     18.048       20.214
       Dinner 1.000 10.000     21.461       24.037
Female Lunch  1.250  5.170     16.339       18.300
       Dinner 1.000  6.500     19.213       21.519

In [21]:
# Definiendo filtros
def f_filter(x):
  return mean_eur2usd(x['total_bill'].mean()) > 20

In [22]:
df_filtered = df.groupby(['sex','time']).filter(f_filter)
df_filtered

     total_bill   tip     sex smoker   day    time  size  percent_tip
0        16.990 1.010  Female     No   Sun  Dinner     2        0.059
1        10.340 1.660    Male     No   Sun  Dinner     3        0.161
2        21.010 3.500    Male     No   Sun  Dinner     3        0.167
3        23.680 3.310    Male     No   Sun  Dinner     2        0.140
4        24.590 3.610  Female     No   Sun  Dinner     4        0.147
..          ...   ...     ...    ...   ...     ...   ...          ...
239      29.030 5.920    Male     No   Sat  Dinner     3        0.204
240      27.180 2.000  Female    Yes   Sat  Dinner     2        0.074
241      22.670 2.000    Male    Yes   Sat  Dinner     2        0.088
242      17.820 1.750    Male     No   Sat  Dinner     2        0.098
243      18.780 3.000  Female     No  Thur  Dinner     2        0.160

[209 rows x 8 columns]

In [23]:
df_filtered.groupby(['sex', 'time']).count()

               total_bill     tip  smoker     day    size  percent_tip
sex    time
Male   Lunch       33.000  33.000  33.000  33.000  33.000       33.000
       Dinner     124.000 124.000 124.000 124.000 124.000      124.000
Female Lunch          nan     nan     nan     nan     nan          nan
       Dinner      52.000  52.000  52.000  52.000  52.000       52.000

## Group By: extraer valor con variables categÃ³ricas

Usando la columna auxiliar ones, obtendremos valor al hacer operaciones sobre esta al agrupar variables categoricas, sin hacer la conversion de variales

In [24]:
# Creo una coluna ones
df['ones'] = 1
df

     total_bill   tip     sex smoker   day    time  size  percent_tip  ones
0        16.990 1.010  Female     No   Sun  Dinner     2        0.059     1
1        10.340 1.660    Male     No   Sun  Dinner     3        0.161     1
2        21.010 3.500    Male     No   Sun  Dinner     3        0.167     1
3        23.680 3.310    Male     No   Sun  Dinner     2        0.140     1
4        24.590 3.610  Female     No   Sun  Dinner     4        0.147     1
..          ...   ...     ...    ...   ...     ...   ...          ...   ...
239      29.030 5.920    Male     No   Sat  Dinner     3        0.204     1
240      27.180 2.000  Female    Yes   Sat  Dinner     2        0.074     1
241      22.670 2.000    Male    Yes   Sat  Dinner     2        0.088     1
242      17.820 1.750    Male     No   Sat  Dinner     2        0.098     1
243      18.780 3.000  Female     No  Thur  Dinner     2        0.160     1

[244 rows x 9 columns]

In [25]:
# Agrupamos por genero y si son fumadores
df_g = df.groupby(['sex', 'smoker'])[['ones']].sum()
df_g

               ones
sex    smoker
Male   Yes       60
       No        97
Female Yes       33
       No        54

In [26]:
df_g.groupby(level=0).apply(
    lambda x:
    x /x.sum() * 100
)

                ones
sex    smoker
Male   Yes    38.217
       No     61.783
Female Yes    37.931
       No     62.069

### Transformando variables numericas a categoricas

In [27]:
pd.cut(df['total_bill'], bins=3).value_counts()

(3.022, 18.983]     140
(18.983, 34.897]     88
(34.897, 50.81]      16
Name: total_bill, dtype: int64

In [28]:
# Definiendo el ancho de los bins (categorias)
pd.cut(df['total_bill'], bins=[2,18,35, 60]).value_counts()

(2, 18]     127
(18, 35]    101
(35, 60]     16
Name: total_bill, dtype: int64

In [29]:
# Agregando columna bins_total
df['bins_total'] = pd.cut(df['total_bill'], bins=[2,18,35, 60])
df

     total_bill   tip     sex smoker  ... size percent_tip  ones  bins_total
0        16.990 1.010  Female     No  ...    2       0.059     1     (2, 18]
1        10.340 1.660    Male     No  ...    3       0.161     1     (2, 18]
2        21.010 3.500    Male     No  ...    3       0.167     1    (18, 35]
3        23.680 3.310    Male     No  ...    2       0.140     1    (18, 35]
4        24.590 3.610  Female     No  ...    4       0.147     1    (18, 35]
..          ...   ...     ...    ...  ...  ...         ...   ...         ...
239      29.030 5.920    Male     No  ...    3       0.204     1    (18, 35]
240      27.180 2.000  Female    Yes  ...    2       0.074     1    (18, 35]
241      22.670 2.000    Male    Yes  ...    2       0.088     1    (18, 35]
242      17.820 1.750    Male     No  ...    2       0.098     1     (2, 18]
243      18.780 3.000  Female     No  ...    2       0.160     1    (18, 35]

[244 rows x 10 columns]

In [30]:
# obtenemos los porcentajes
df.groupby(['time', 'bins_total'])[['ones']].count().groupby(level=0).apply(
    lambda x:
    x /x.sum() * 100
)

                    ones
time   bins_total
Lunch  (2, 18]    66.176
       (18, 35]   30.882
       (35, 60]    2.941
Dinner (2, 18]    46.591
       (18, 35]   45.455
       (35, 60]    7.955

In [31]:
df

     total_bill   tip     sex smoker  ... size percent_tip  ones  bins_total
0        16.990 1.010  Female     No  ...    2       0.059     1     (2, 18]
1        10.340 1.660    Male     No  ...    3       0.161     1     (2, 18]
2        21.010 3.500    Male     No  ...    3       0.167     1    (18, 35]
3        23.680 3.310    Male     No  ...    2       0.140     1    (18, 35]
4        24.590 3.610  Female     No  ...    4       0.147     1    (18, 35]
..          ...   ...     ...    ...  ...  ...         ...   ...         ...
239      29.030 5.920    Male     No  ...    3       0.204     1    (18, 35]
240      27.180 2.000  Female    Yes  ...    2       0.074     1    (18, 35]
241      22.670 2.000    Male    Yes  ...    2       0.088     1    (18, 35]
242      17.820 1.750    Male     No  ...    2       0.098     1     (2, 18]
243      18.780 3.000  Female     No  ...    2       0.160     1    (18, 35]

[244 rows x 10 columns]

## Pivot Table

In [34]:
# Precio medio de las comidas
df.groupby(['sex','time'])[['total_bill']].mean()

               total_bill
sex    time
Male   Lunch       18.048
       Dinner      21.461
Female Lunch       16.339
       Dinner      19.213

In [38]:
df_gp = df.groupby(['sex','time'])[['total_bill']].mean().reset_index()
df_gp

      sex    time  total_bill
0    Male   Lunch      18.048
1    Male  Dinner      21.461
2  Female   Lunch      16.339
3  Female  Dinner      19.213

In [39]:
df_gp.pivot_table(values='total_bill', index='sex', columns='time')

time    Lunch  Dinner
sex
Male   18.048  21.461
Female 16.339  19.213

![](https://pandas-docs.github.io/pandas-docs-travis/_images/reshaping_pivot.png)

In [40]:
# Aplicamos pivot_table al DataFrame Original, por defecto calcula tambien la media de los valores
df.pivot_table(values='total_bill', index='sex', columns='time')

time    Lunch  Dinner
sex
Male   18.048  21.461
Female 16.339  19.213

In [41]:
# `aggfunc` permite cambiar el tipo de operacion al que nosotros querramos
df.pivot_table(values='total_bill', index='sex', columns='time', aggfunc=np.median)

time    Lunch  Dinner
sex
Male   16.580  19.630
Female 13.420  17.190

In [44]:
# Puedo agregar tambien un array o un diccionario
df_pivot  = df.pivot_table(values='total_bill', index='sex', columns='time', aggfunc=[np.median, np.std])
df_pivot

       median          std
time    Lunch Dinner Lunch Dinner
sex
Male   16.580 19.630 7.953  9.461
Female 13.420 17.190 7.501  8.202

In [46]:
# Deshacer las columnas y rehacer un DataFrame con `unstack()`
df_pivot.unstack().reset_index().to_frame

  level_0    time     sex      0
0  median   Lunch    Male 16.580
1  median   Lunch  Female 13.420
2  median  Dinner    Male 19.630
3  median  Dinner  Female 17.190
4     std   Lunch    Male  7.953
5     std   Lunch  Female  7.501
6     std  Dinner    Male  9.461
7     std  Dinner  Female  8.202

In [64]:
df.pivot_table(values=['total_bill', 'tip'], index='day', columns='time', aggfunc=[np.mean, np.median, np.std])

      mean                           ...   std
       tip        total_bill         ...   tip        total_bill
time Lunch Dinner      Lunch Dinner  ... Lunch Dinner      Lunch Dinner
day                                  ...
Thur 2.768  3.000     17.665 18.780  ... 1.250    nan      7.950    nan
Fri  2.383  2.940     12.846 19.663  ... 0.663  1.156      2.842  9.472
Sat    nan  2.993        nan 20.441  ...   nan  1.631        nan  9.480
Sun    nan  3.255        nan 21.410  ...   nan  1.235        nan  8.832

[4 rows x 12 columns]